/*---------------------------*/
.wizardButton{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 23px;

}

.wizardFormContent{
  display: flex;
   justify-content: space-between;
   border-top:2px solid rgba(0, 0, 0, 0.322);
}

.imageClient{
  cursor: pointer;
}

.imageClient:hover{
  border: 2px solid blue;
}
