<div class="principale">

    <div class="adminBouton">
        <div>
            <button clrButton type="button" class="btn btn-primary" (click)="gererRoles()">
          Gestion des rôles
        </button>
        </div>

        <div>
            <button clrButton type="button" class="btn btn-primary" (click)="ajouterAdministrateur()">
            Ajouter un administrateur
          </button>
        </div>
    </div>



    <div class="modal" *ngIf="isaddManager">

        <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true" style="width: 70%; height:75%">

            <div class="modal-content">
                <form [formGroup]="responsableForm">

                    <div style="display: flex; justify-content: space-between;">

                        <div style="text-align:center; text-transform: uppercase;
                      color:black; font-size: 20px; font-weight: bold;">
                            Ajouter un responsable
                        </div>

                        <div>
                            <button clrButton class="btn btn-primary" type="reset" (click)="onCancel()">Annuler</button>
                            <button clrButton class="btn btn-success" type="submit" (click)="onAddManager()" *ngIf="!onUpdating">Ajouter</button>
                            <button clrButton class="btn btn-success" type="submit" (click)="onUpdateManager(account)" *ngIf="onUpdating">Modifier</button>
                        </div>

                    </div>

                    <div style="display: flex; justify-content: space-between; padding-bottom: 20px;" formGroupName="responsableInfos">
                        <div>
                            <input clrInput type="text" id="nom" name="nom" size="50px" formControlName="nom">
                            <label for="nom">Nom</label>

                            <input clrInput type="text" id="prenom" name="prenom" size="50px" formControlName="prenom">
                            <label for="prenom">Prenom</label>

                            <input clrInput type="text" id="email" name="email" size="50px" formControlName="email">
                            <label for="email">Email</label>
                        </div>

                        <div>
                            <input clrInput type="text" id="phone" name="phone" size="50px" formControlName="telephone">
                            <label for="phone">telephone</label>

                            <input clrInput type="text" id="password" name="password" size="50px" formControlName="password">
                            <label for="password">password</label>

                            <select name="role" id="role" clrSelect formControlName="role">
                          <option value="1">Administrateur</option>
                          <option value="61e6e738485ed903d8df5aa4">gestionnaire de parc</option>
                          <option value="61e6e753485ed903d8df5aa8">gestionnaire de la logistique</option>
                        </select>
                            <label for="role">Role</label>
                        </div>
                    </div>

                </form>

            </div>
        </div>

        <div class="modal-backdrop" aria-hidden="true">
        </div>
    </div>

    <clr-datagrid>
        <clr-dg-placeholder>Aucun administrateur trouvrer</clr-dg-placeholder>

        <clr-dg-column>Nom</clr-dg-column>
        <clr-dg-column>prenom</clr-dg-column>
        <clr-dg-column>Role</clr-dg-column>

        <clr-dg-row *ngFor=" let responsable of responsables " [clrDgItem]="responsable">
            <clr-dg-action-overflow>
                <button class="action-item" (click)="onEdit(responsable)">Editer</button>
                <button class="action-item" (click)="onDelete(responsable)">supprimer</button>
            </clr-dg-action-overflow>

            <clr-dg-cell>{{responsable.nom}}</clr-dg-cell>
            <clr-dg-cell>{{responsable.prenom}}</clr-dg-cell>
            <clr-dg-cell *ngIf="responsable.role == '61e6e753485ed903d8df5aa8'">Gestionnaire de la logistique</clr-dg-cell>
            <clr-dg-cell *ngIf="responsable.role == '61e6e738485ed903d8df5aa4'">Gestionnaire du parc</clr-dg-cell>
        </clr-dg-row>

        <ng-template clrIfDetail let-detail (clrIfDetailChange)="onDetailOpen($event)">
            <clr-dg-detail>
                <clr-dg-detail-header>
                    <span style="font-weight: bold; color:black; text-decoration: underline;">{{detail.name}} {{detail.lastName}}</span>
                </clr-dg-detail-header>
                <clr-dg-detail-body>
                    <div>
                        <span>date de creation: {{detail.dateCreation}}</span><br>
                        <span>role: {{detail.role}} </span>
                        <ul>
                            <span style="font-weight: bold; color:black; text-decoration: underline;">Droits:</span>
                            <li>Programmer voyages</li>
                            <li>Enregistrer depenses</li>
                            <li>Enregistrer recettes</li>
                        </ul>
                    </div>
                </clr-dg-detail-body>
            </clr-dg-detail>
        </ng-template>

        <!--clr-dg-footer> Total: {{responsables.length}} responsables </clr-dg-footer-->
    </clr-datagrid>

</div>